<form ngForm #assignmentsForm class="form">
  <mat-form-field>
    <input matInput [(ngModel)]="name" name="assignment-name">
  </mat-form-field>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" [(ngModel)]="dueDate" name="date" placeholder="when's your assignment due?">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <button mat-stroked-button color="primary" (click)="onSubmit(); assignmentsForm.reset()">Add Assignment</button>
</form>
